body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  position: relative;
  margin: 2em;
  user-select: none;
}

button {
  font-size: 5rem;
  text-align: center;
  width: clamp(10rem, 10vw, 10rem);
  height: clamp(10rem, 10vw, 10rem);
  margin: 2.5vw;
}

button:hover {
  opacity: 75%;
}

.winner {
  display: none;
  background-color: silver;
  padding: 1rem 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

input {
  padding: 1em;
}

ul {
  list-style-type: none;
  margin: 2em;
  padding: 0;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 30vw;
}

.scores > * {
  border: 1px solid black;
  padding: 1em;
}

.human-score {
  background-color: skyblue;
  font-size: 1.5em;
}

.computer-score {
  background-color: orange;
  font-size: 1.5em;
}

#human-score, #computer-score {
  font-weight: bolder;
} 