body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  position: relative;
  margin: 2em;
  user-select: none;
}

button {
  font-size: 5rem;
  width: clamp(10rem, 10vw, 10rem);
  height: clamp(10rem, 10vw, 10rem);
  margin: 2.5vw;
}

button:hover {
  opacity: 75%;
}

.winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 30vw;
}

.scores > * {
  border: 1px solid black;
  padding: 1em;
}